# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
works.py
tools/*

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Environment variables
.env
.venv
env/
venv/
ENV/

# Git
.git
.gitignore

# IDE specific files
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db

# Temp files
*.mp3
temp_*